<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Dashboard</h1>
	<p style="display: inline-block">Olá, {{name_user}}. Seja bem-vindx. </p>
	<a href="http://localhost/book-collector-php-oop/dashboard/logout/{{session_id}}">Logout</a> 
	<h2>Estes são os seus livros</h2>
	<button style="display: block"><a href="http://localhost/book-collector-php-oop/dashboard/addBookPage">Adicionar um livro</a></button>
	<!--{{books[0]['title']}}-->
	<ul>
		{% for book in books %}
			<li>{{book.title}} - {{book.author}}</li>
		{% endfor %}
	</ul>

</body>
</html>		