<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<a href="http://localhost/book-collector-php-oop/account/loginPage">Sign In</a>
	<h1>Register</h1>
	<form method="POST" action="http://localhost/book-collector-php-oop/account/register">

		<label for="name">Name</label>
		<input id="name" name="name"/>

		<label for="email">Email</label>
		<input id="email" name="email"/>

		<label for="password">Password</label>
		<input id="password" name="password"/>

		<label for="passwordConfirm">Confirm Password</label>
		<input id="passwordConfirm" name="passwordConfirm"/>

		<button>Register</button>
	</form>
</body>
</html>		